body {
    background-color: aqua;
    font-size: 75px;
    text-align: center
}

table {
    margin: 1em auto;
}

td {
    height:100px;
    width:100px;
    display: inline-block;
}

.calculate {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    padding: 10px;
    background: rgba(0, 255, 255, 0.774);
    border-radius: 25px;
    font-size: 70px;
}